<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>vue</title>
  <script src="vue.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script> -->
</head>

<body>
  <style>
    .switcher {
      background-color: bisque;
      height: 10rem;
      width: 10rem;
      border: 1px red solid;
      text-align: center;
      user-select: none;
    }

    .switcher p {
      position: relative;
      top: 4rem;
    }

    .redColor {
      color: white;
      background-color: red;
    }

    .blueColor {
      color: white;
      background-color: blue;
    }

    .aquaColor {
      color: white;
      background-color: mediumaquamarine;
    }
  </style>
  <div id="calendar__widget--side">
    <h1 v-once>
      <!-- v-once is to not change the value of 'title'
      even its value has change after function
      execution -->
      {{title }}
    </h1>
    <h3 v-on:mousemove="changeCoor">
      <br> {{months()}}
      <br> {{birthday}}
      <br> {{callThis()}} -
      <span v-on:mousemove.stop="">DEADLY ZONE</span>
    </h3>
    <h2 v-once>
      {{title}}
      <a :href="linkToGoogle">Go to google</a>
    </h2>
    <h4> {{changeTitleAgain() }} </h4>
    {{title}}
    <h5 v-html="aTagToGoogle"></h5>
    <div class="date__button">
      <button v-on:click="increaseDay(2, $event)">+ Day</button>
      <button v-on:click="userDays+=10">+10 Day</button>
      <p> {{userDays}} {{userDays * 3 > 100 ? "Long day" : "click more until I changed!"}}</p>
      <h4> {{x}}/{{y}} </h4>
    </div>

    <fieldset>
      <legend>Press enter after you done typing</legend>
      <input v-on:keyup.enter="pumpGo" type="text" v-model="nameBind" />
      <p>{{nameBind}}</p>
    </fieldset>

    <div class="counter">
      <button @click="counter++">Increase</button>
      <button @click="counter--">Decrease</button>
      <button @click="counterTwo++">++CounterTwo</button>
      <p>Counter : {{counter}} | {{counterTwo}}</p>
      <p>Info : {{info()}} | {{output}}</p>
    </div>
  </div>

  <div class="app2">
    <div class="switcher" @click="redIsOn = !redIsOn" :class="divClasses">
      <p>Click Me</p>
    </div>
    <div class="switcher" :class="[color, {redColor: redIsOn}]" >
      <p>Click Me</p>
      <input type="text" placeholder="redColor, blueColor, aquaColor" v-model="color">
    </div>
  </div>


  <script>
    const app = new Vue({
      el: '#calendar__widget--side',
      data: {
        nameBind: "lalxxa",
        title: 'Months',
        birthday: 'Happy Birthday to you',
        linkToGoogle: 'https://google.com',
        aTagToGoogle: `<a href="https://amazon.com">Amazon</a>`,
        userDays: 0,
        x: 0,
        y: 0,
        counter: 0,
        counterTwo: 0
      },
      computed: {
        output() {
          console.log('computed');
          return this.counter > 6 ? "Greater than 6" : "Lesser than 6"
        },
        divClasses() {
          return {
            redColor: redIsOn,
            blueColor: !redIsOn
          }
        }
      },
      watch: {
        counter() {
          setTimeout(() => {
            this.counter = 0;
          }, 4000);
        }
      },
      methods: {
        months() {
          return ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec']
        },
        callThis() {
          this.title = "🐶";
          return `Today is First of ${this.months()[3]} ${this.title}, ${this.birthday} Chris!`;
        },
        changeTitleAgain() {
          this.title = "WOOOOW"
        },
        increaseDay(twoDay, e) {
          this.userDays += twoDay;
          console.log(e.target);
        },
        changeCoor(e) {
          this.x = e.clientX;
          this.y = e.clientY;
        },
        pumpGo() {
          alert('GOGO POWERRANGERS!')
        },
        info() {
          console.log("method");
          return this.counter > 6 ? "Greater than 6" : "Lesser than 6"
        }
      }
    })

    const app2 = new Vue({
      el: '.app2',
      data: {
        redIsOn: false,
        color: 'aquaColor'
      },
      computed: {
        divClasses() {
          return {
            redColor: this.redIsOn,
            blueColor: !this.redIsOn
          }
        }
      }
    })
  </script>
</body>

</html>